* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: center;
  
  }

// configuration for whole project

.header img {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
}

// header image design
  

.grid-container {
    background: #F0FFFF;
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    grid-template-rows: auto 1fr auto;
    gap: 10px 10px;
    grid-template-areas:
      "header header header"
      "nav content aside"
      "footer footer footer";
}
.header { grid-area: header; }
.nav { grid-area: nav; }
.content { grid-area: content; }
.aside { grid-area: aside; }
.footer { grid-area: footer; }

@media screen and (max-width: 900px) {
        .grid-container {
            /* Reset template areas for a single column layout */
            grid-template-areas:
            "header"
            "nav"
            "content"
            "aside"
            "footer";

            /* Reset column and row measurements for a single column */
            grid-template-columns: 1fr;
            grid-template-rows:
            auto /* Header */
            auto /* Nav */
            1fr /* Content */
            auto /* Sidebar */
            auto; /* Footer */
        }
     
        /* Reset margin for nav & aside - better for smaller devices */
        nav, aside {
            margin: 0;
        }
    }

    // frame configuration for mobile adaptiveness
.page-container {
    margin: 4em;

    &#home{
        text-align: center;
    }
    &:not(#home){
        display: none;
    }
}

// displays home page on start

.header {
    text-align: center;
    color:#000000;
    min-height: 180px;
    background:url('../images/school.jpg') no-repeat 0 -400px; opacity: 0.6;
    background-position: center;
    background-size: cover;
  }

  //header set ups
  
  
  .footer {
    text-align: center;
    color:#000000;
    min-height: 100px;
    background:url('../images/ice.jpg') no-repeat 0 -400px; opacity: 0.8;
    background-position: center;
    background-size: cover;
  }

  // footer set ups
